# Ignore Secrets
.env
**/etl/config.yml

# Ignore Virtual Environment
**/.venv*/
**/__pycache__/

# Ignore Logs
**/logs/

# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore crash logs
crash.log

# Ignore variable override files
*.tfvars
*.tfvars.json

# Ignore sensitive .auto.tfvars files
*.auto.tfvars
*.auto.tfvars.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore Terraform working directory
.terraform/

# Ignore plan output
*.tfplan
.terraform.lock.hcl